.centrar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
img{
    padding: 10px;
}
button{
    margin: 10px;   
    background-color:#905aafff;
    border: none;
    padding: 10px !important;
}
button:hover{
    background-color: #2d1b36ff !important;
    color:white;

}