<div class="container centrar">

    <div class="container centrar">
        <img src="../../../assets/imagnes/admin.bmp" width="310" height="220" alt="...">
        <div class="col-auto  text-center">
            <label for="inputPassword2" class="visually-hidden">Password</label>
            <input type="password" class="form-control" id="inputPassword2" placeholder="Password"
                [(ngModel)]="entrada">
        </div>
        <div class="col-auto text-center">
            <button type="submit" (click)="loguearse()" class="btn btn-primary">Enviar</button>
            
        </div>
        <p class="text-danger text-center" *ngIf="passfeedback == true">
            Password Incorrecto.
        </p>
    </div>
</div>