<div class="contenedor " >
    <div class="card contenido" >
        <div class="card-body text-center tituloBody">
        </div>
        <div class="card-body" *ngIf="!registrado; else bloqueRegistrado">
            <h3>Registrarse</h3>
            <form>
                <ul>
                    <li style="color: red;" *ngFor="let e of errores">{{e.msg + ' ' + e.param}}</li>
                </ul> 
                <div class="form-group row">
                    <label for="apellido" class="col-sm-2 col-form-label">Apellido</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="apellido" id="apellido" placeholder="Apellido"
                            [(ngModel)]="usuario.apellido">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="nombre" name="nombre" id="nombre"
                            placeholder="Nombre" [(ngModel)]="usuario.nombre">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" name="password" id="password" placeholder="Nombre"
                            [(ngModel)]="usuario.password">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="mail" class="col-sm-2 col-form-label">E-mail</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="mail" name="mail" placeholder="mail"
                            [(ngModel)]="usuario.mail">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="telefono" class="col-sm-2 col-form-label">Teléfono</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="telefono" placeholder="Teléfono">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="taller" class="col-sm-2 col-form-label">Taller</label>
                    <div class="col-sm-10">
                        <select class="form-select" name="taller" id="taller" aria-label="Default select example"
                            [(ngModel)]="usuario.taller">
                            <option selected disabled>seleccionar taller</option>
                         <option *ngFor="let t of listatalleres" [value]="t.nombre">
                                {{t.nombre}}
                            </option> 
                        </select>
                    </div>
                    <div class="mt-5">
                        <div class="form-check form-switch">
                            acepto los terminos y condiciones
                            <input type="checkbox" class="form-check-input" name="ter" id="ter" [(ngModel)]="usuario.ter">
                        </div>
                    </div>


                </div>

                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary text-right btnguardar"
                            (click)="saveUsuario()">Guardar cambios</button>
                    </div>

                </div>
   
            </form>

        </div>

        <ng-template #bloqueRegistrado>
            <h4>registrado con exito, aguarde la aprobación del administrador para poder iniciar sesión.</h4>
            <p> nombre: {{usuario.nombre}} </p>
            <p> apellido: {{usuario.apellido}} </p>
            <p> su pass: {{usuario.password}} </p>
        </ng-template>

    </div>

</div>