<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/imagnes/donar.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="titulo">Nuestro compromiso</h5>
          <p class="comentario"> <span style="font-style: oblique;">Comunidad Ayudando</span> nace apartir de la necesidad de transparentar el proceso de donación, quienes ayudan y quienes reciben esta ayuda
            . De esta manera se genera una confianza necesaria para quienes desean colaborar.
          </p>
        </div>
      </div>
    </div>
  </div>    

  <div>
    <h3>Comunidad Ayudando</h3>
    <p class="historia">
      
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ex libero, porttitor ut lobortis et, laoreet id est.
 Maecenas vel magna eget urna dictum bibendum. Mauris ac suscipit quam, vitae scelerisque ipsum. Curabitur non felis nec arcu mollis sodales id vel purus. Aenean molestie posuere nunc, et tempor erat volutpat eget. Mauris efficitur ultricies lectus, a imperdiet odio consequat rhoncus. Proin pellentesque est sit amet justo convallis euismod. Donec lacinia orci lorem, non posuere lacus mollis vel. Praesent ullamcorper sapien egestas diam scelerisque, ut ornare ipsum ultrices. Donec mattis ultricies mi, a vehicula justo iaculis et. Mauris euismod felis sit amet fermentum rhoncus. Maecenas egestas iaculis finibus. Nullam viverra quam at sapien congue scelerisque. Duis dictum velit vel leo condimentum, nec mattis erat egestas. Suspendisse pellentesque interdum gravida.
  
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ex libero, porttitor ut lobortis et, laoreet id est. Maecenas vel magna eget urna dictum bibendum. Mauris ac suscipit quam, vitae scelerisque ipsum. Curabitur non felis nec arcu mollis sodales id vel purus. Aenean molestie posuere nunc, et tempor erat volutpat eget. Mauris efficitur ultricies lectus, a imperdiet odio consequat rhoncus. Proin pellentesque est sit amet justo convallis euismod. Donec lacinia orci lorem, non posuere lacus mollis vel. Praesent ullamcorper sapien egestas diam scelerisque, ut ornare ipsum ultrices. Donec mattis ultricies mi, a vehicula justo iaculis et. Mauris euismod felis sit amet fermentum rhoncus. Maecenas egestas iaculis finibus. Nullam viverra quam at sapien congue scelerisque. Duis dictum velit vel leo condimentum, nec mattis erat egestas. Suspendisse pellentesque interdum gravida.  </p>
  </div>