.wmigue{
    color:#cdb4dbff;
}

.carousel{
 
   width: 50%;
   height: 50%;
}

.contenedor{
   display: flex;
   justify-content: center;
}

/*  */

 a{
   margin-left: 15px !important;
   text-decoration: none;
   color: rgb(165, 77, 216);
 }
 a:hover{
   color: rgb(81, 4, 126);
 }
.noticias {
   display: flex;
   justify-content: center;
   margin-top: 100px;
   margin-bottom: 150px;
}

.contNoticias {
   border: 2px solid  #cdb4dbff;
   border-radius: 15px;
   width: 300px;
   margin: 1.5rem;
   
}

.contNoticias > img {
   width: 100%;
   border-radius: 10px;
}

.titulo {
   font-size: 1.5rem;
   font-weight: bold;
   margin-bottom: 1rem;
   padding: 1rem;
}

.textoNoticias {
   margin: 1.2rem;
}

.descripcion{
   padding: 15px;
}