<div>
  <h1 class="wmigue">
    Nuestra Historia
  </h1>

  <p class="p-2"><em>
      Comunidad Ayudando viene trabajando socialmente en Argentina desde hace 2 años, siempre con la intención de llegar a las personas brindándoles soluciones concretas, asistiendo a quienes se encuentran en situación desfavorable, promoviendo una conciencia solidaria y transmitiendo un mensaje de amor.
    Desarrolla una gran cantidad de programas comunitarios y de prevención, como por ejemplo, acompañamiento a personas en situación de calle con alimentos, más la búsqueda (por medio de los hogares y refugios) de su reinserción social y familiar; la estimulación del aprendizaje de valores en niños y adolescentes, cubriendo las necesidades habitacionales 
    en las principales ciudades de Argentina con residencias estudiantiles y para trabajadores; apoyando en campañas de concienciación 
    sobre la trata de personas, la violencia de género y la justicia social. La mayoría de estos programas están interconectados, lo que potencia su funcionamiento y sus resultados. Para el sustentamiento de su obra, Comunidad Ayudando recibe todo tipo de donaciones: ropa, muebles, calzado, electrodomésticos y todo tipo de objetos que todavía le sirvan a otra persona.
    </em></p>
</div>

<div class="contenedor">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="../../../assets/imagnes/jovenes-voluntarios-multirraciales-clasificando-ropa-donada-hablando-unos-con-otros-trabajando-en-el-centro-de-donacion-de-caridad-2h5cea2.jpg"
          class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/imagnes/las-personas-donar-ropa-de-colecta-en-el-centro-comunitario-2afgtbk.jpg"
          class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/imagnes/los-clubes-de-futbol-reciben___57OAufdJl_1256x620__2.jpg"
          class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="noticias">
  <div class="contNoticias">
    <img src="../../../assets/imagnes/arte.jpg" alt="Artesanía">

    <div class="">

      <div class="titulo">
        Taller Artesanía
      </div>

      <div class="descripcion">
        Los talleres artesanales se realizan con el fin de dinamizar el sector artesanal mediante la demostración artesanal la cual genera mayor conciencia en el público objetivo. Así mismo se crea cultura por medio del contacto entre artesanos y clientes los cuales conocen la historia y trabajo detrás del producto.
      </div>
      <a href="/registroTaller">Registrarse</a>
    </div>
  </div>

  <div class="contNoticias">
    <img src="../../../assets/imagnes/escritura.jpg" alt="Escritura">

    <div class="">

      <div class="titulo">
        Taller Escritura
      </div>
      <div class="descripcion">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit eum nam est architecto eveniet iusto quo error
        qui alias dolor dolorem, nisi natus quam. Placeat fuga facilis soluta amet inventore.
      </div>
      <a href="/registroTaller">Registrarse</a>
    </div>
   
  </div>

  <div class="contNoticias">
    <img src="../../../assets/imagnes/donaciones.jpg" alt="Donaciones">

    <div class="">

      <div class="titulo">
        Ultimas Donaciones
      </div>

      <div class="descripcion">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit eum nam est architecto eveniet iusto quo error
        qui alias dolor dolorem, nisi natus quam. Placeat fuga facilis soluta amet inventore.
      </div>
    </div>
    <a href="">Ver más</a>
  </div>
</div>