.grid-block {
    background-image: url('../../../assets/imagnes/organizacion.jpg');
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;


}

h1 {
    margin-left: 5rem;
    color: rgb(170, 167, 167);
    padding-top: 70px;
}

.sp-titulo {
    text-transform: uppercase;
    color: rgb(113, 177, 237);
    font-weight: bolder;
    font-size: 4rem;
    margin-left: 5rem;
}

.ne-ma {
    text-transform: uppercase;
    font-weight: bold;
}

.ne-mi {
    font-weight: bold;
}

.sp-ma {
    text-transform: uppercase;
}

.text1 {
    margin-top: 10rem;
    text-align: center;
    font-size: 1.8rem;
    word-spacing: normal;
}

.text2 {
    margin-top: 3rem;
    text-align: center;
    font-size: 1.8rem;
}

.text3 {
    margin-top: 3rem;
    text-align: center;
}

.ne-ma-su {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.5rem;
}

.aref {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: large;
}

.aref:hover {
    cursor: pointer;
    background-color: rgb(113, 177, 237);
    border-radius: 15px;
}