<div class="grid-block">
    <h1>Registro de</h1>
    <span class="sp-titulo">Organizaciones</span>
    <p class="text1">
        <span class="ne-ma"> ¿Para qué? </span><br> <br> El <span class="ne-mi">relevamiento</span> busca contar con
        <span class="ne-mi">información
            fehaciente y actualizada
        </span> de las <br> <br><span class="ne-ma">ONG</span><b>s</b> formalmente constituidas y con <span
            class="ne-mi">documentación
            vigente </span>para poder trabajar <br> <br>de manera articulada programas que exigen determinados <span
            class="ne-mi">requisitos</span>
    </p>

    <p class="text2"><span class="sp-ma">Queremos acompañar a los </span><br><br><span class="ne-ma">emprendedores
            sociales</span>
        <br><br>
    </p>

    <p class="text3"><span class="ne-ma-su">súmate: </span> <a class="aref" href="/organizaciones">Haciendo click aquí
        </a></p>
</div>