.login-container {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 30%;

}

.login-form-1 {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.titulo {
    color:#905aafff;
    padding-top: 10%;
    text-align: center;

}

.login-form-1 h3 {
    text-align: center;
    color: #333;
}


.login-container form {
    padding: 10%;
}

 
.btnSubmit {
    text-align: center;
    margin-top: 10%;
    width: 50%;
    border-radius: 0.5rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.login-form-1 .btnSubmit {
    font-weight: 600;
    color: #fff;
    background-color:#905aafff;
   
}

div.contenedor {
    display: flex;
    justify-content: center
}

h4 {
    font-size: 30px;

}