<div class="header">
  <nav class="navbar navbar-expand-lg navbar-light navbar-propio">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img width="90" src="../assets/ComunidadAyudando.png">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar1av"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav links">
        <div class="nav-item" style="margin-right: 20px;" *ngIf="isLoggedIn()">
          <button type="button" class="btn btn-danger" (click)="logOut()">LOGOUT!</button>
        </div>
        <li class="nav-item">
          <a routerLink="/organizacion" class="nav-link" >Organizaciones</a>
        </li>
        <li class="nav-item">
          <a routerLink="/donaciones" class="nav-link" >Donaciones</a>
        </li>

        <li class="nav-item">
          <a routerLink="/noticias" class="nav-link " >Noticias</a>
        </li>
        <li class="nav-item">
          <a routerLink="/quienes-somos" class="nav-link "> Nosotros</a>
        </li>
        <li class="nav-item">
          <a routerLink="/mitaller" class="nav-link " > Mi taller</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/home"> Inicio</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn()">
          <b><a routerLink="/login" class="nav-link " > Login</a></b>
        </li>
        <li class="nav-item" >
          <b><a routerLink="/admin" class="nav-link "> Admin</a></b>
        </li>
        <li>
          <div class="donaciones">
            <img id="btnDonar2" src="../../../assets/imagnes/DONAR AQUI.jpg" (click)="openCentrado(contenido)">
          </div>
        </li>
      </ul>
    </div>
  </nav>



  <ng-template #contenido let-modal>
    <div class="modal-header">
      <h2 class="modal-title">Donacion Anonima</h2>
      <button class="btns2" aria-label="close" type="button" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" *ngIf="!sedono; else gracias">
      <select class="form-select mb-5" aria-label="Default select example" [(ngModel)]="donacionAnonima.causa">
        <option selected disabled>CAUSA</option>
        <option value="{{e.denominacion}}" *ngFor="let e of causas">{{e.denominacion}}</option>
      </select>
      <select class="form-select mb-5" aria-label="Default select example" [(ngModel)]="donacionAnonima.importe">
        <option disabled selected>IMPORTE</option>
        <option value="100">$100</option>
        <option value="200">$200</option>
        <option value="500">$500</option>
      </select>
      <div class="modal-footer">
        <button type="button" class="btns" (click)="donar(donacionAnonima)">Donar</button>
      </div>
    </div>
  </ng-template>


  <ng-template #gracias>
    <div class="p-4">
      ✔ donacion exitosa.
    </div>
  </ng-template>



  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>