/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */



a {
  color: #0366d6;
}
.help-block{
  color:red;
}
code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.centrame{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;

}


@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
 
@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';

html, body {  
  min-height: 100vh;
  height: 450vh;
  margin: 0;
 }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
